{% extends "conteneur.html" %}
{% block corps %}
<h1>Bienvenue sur la Base Manuce</h1>
<p>Cette base permet de retrouver les éditions de la famille Manuce.</p>
<p>Pour consulter l'ensemble de la base de donnée, voir l'<a href="{{url_for('index')}}">index</a></p>
<p>Faire une <a href="{{url_for('recherche')}}">recherche</a> dans la base de données</p>
<p>Pour s'inscrire, cliquer <a href="{{url_for('inscription')}}">ici</a></p>
<p>Pour se connecter, cliquer <a href="{{url_for('connexion')}}">ici</a></p>
<p>Pour accéder au formulaire, cliquer <a href="{{url_for('formulaire')}}">ici</a></p>
{% endblock %}