{% extends "conteneur.html" %}
{% block corps %}

{% if not current_user.is_authenticated %}
    <h1>Bienvenue sur la Base Manuce</h1>
{% else %}
    <h1>Bienvenue sur la Base Manuce, {{current_user.user_pseudo}}</h1>
{% endif %}

<p>Cette base permet de retrouver les éditions de la famille Manuce.</p>

    {% if imprimeurs %}
        <p> Il y a {{imprimeurs|length}} imprimeurs de la firme enregistrés:</p>
        <ul>
            {% for imprimeur in imprimeurs %}
                <li><a href="{{url_for('imprimeur', printer_id=imprimeur.printer_id)}}">{{imprimeur.printer_name}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution</p>
    {% endif %}


    {% if not current_user.is_authenticated %}
        <p>Pour procéder à des modifications dans la base données, il faut vous créer un compte ou vous connecter.</p>
    {% else %}
        <p><i>Pour accéder au formulaire de modification de la base de données,
            <a href="{{url_for('formulaire')}}">cliquer ici</a></i>.</p>
    {% endif %}

{% endblock %}