{% extends "conteneur.html" %}
{% block titre %}
    | Modification de l'imprimeur
{% endblock %}

{% block corps %}

{% if imprimeur %}
<h2>Modification de l'imprimeur: </h2>

    {% if updated %}
    <div class="alert alert-success">
        <p>Félicitations, vos modifications ont bien été enregistrées !</p>
    </div>
    {% endif %}

    <form method="POST" action="{{url_for('impr_modifs', printer_id=imprimeur.printer_id)}}">
        <div class="mb-3">
            <label for="name" class="form-label">Nom courant de l'imprimeur</label>
            <input type="text" name="name" class="form-control {% if 'name' in erreurs %}is-invalid{% endif %}" id="name" value="{{imprimeur.printer_name}}">
        </div>

        <div class="mb-3">
            <label for="birth" class="form-label">Date de naissance</label>
            <input type="number" min="1450" max="1650" name="birth" class="form-control {% if 'date' in erreurs %}is-invalid{% endif %}" id="birth" value="{{imprimeur.birthyear}}">
        </div>

        <div class="mb-3">
            <label for="death" class="form-label">Date de mort</label>
            <input type="number" min="1450" max="1650" name="death" class="form-control {% if 'date' in erreurs %}is-invalid{% endif %}" id="death" value="{{imprimeur.deathyear}}">
        </div>

        <div class="mb-3">
            <label for="othername1" class="form-label">Autre forme du nom</label>
            <input type="text" name="othername1" class="form-control {% if 'othername1' in erreurs %}is-invalid{% endif %}" id="othername1" value="{{imprimeur.printer_othername1}}">
        </div>

        <div class="mb-3">
            <label for="othername2" class="form-label">Autre forme du nom</label>
            <input type="text" name="othername2" class="form-control {% if 'othername2' in erreurs %}is-invalid{% endif %}" id="othername2" value="{{imprimeur.printer_othername2}}">
        </div>

        <div class="mb-3">
		    <label for="description" class="form-label">Description</label>
		    <textarea name="description" class="form-control {% if 'description' in erreurs%}is-invalid{% endif %}" id="description">{{imprimeur.description}}</textarea>
		 </div>


        <div class="row justify-content-center">
         <button type="submit" class="btn btn-warning">Modifier</button>
        </div>
    </form>


{% endif %}

{% endblock %}

{% block basdepage %}
<p><a href="{{url_for('index')}}">Retour à l'index</a></p>
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}