{% extends "conteneur.html" %}
{% block titre %}
    | Modification de livre
{% endblock %}

{% block corps %}

{% if livre %}
<h2>Modification du livre: </h2>

    {% if updated %}
    <div class="alert alert-success">
        <p>Félicitations, vos modifications ont bien été enregistrées !</p>
    </div>
    {% endif %}

    <form method="POST" action="{{url_for('form_update', book_id=livre.book_id)}}" class=""form>
        <div class="mb-3">
            <label for="bookTitle" class="form-label">Intitulé du livre</label>
            <input type="text" name="bookTitle" class="form-control
            {% if 'bookTitle' in erreurs %}is-invalid{% endif %}" id="bookTitle" value="{{livre.title}}">
        </div>
        <div class="mb-3">
            <label for="bookDate" class="form-label">Date de publication</label>
            <input type="number" min="1450" max="1650" name="bookDate" class="form-control
            {% if 'bookDate' in erreurs %}is-invalid{% endif %}" id="bookDate" value="{{livre.publidate}}">
        </div>
        <div class="mb-3">
            <label for="bookFormat">Format du livre</label>
            <input type="text" name="bookFormat" class="form-control
             {% if 'bookFormat' in erreurs %}is-invalid{% endif %}" id="bookFormat" value="{{livre.format}}">
        </div>
        <div class="mb-3">
            <label for="bookLanguage">Langue du livre</label>
            <input type="text" name="bookLanguage" class="form-control {% if 'bookLanguage'
            in erreurs %}is-invalid{% endif %}" id="bookLanguage" value="{{livre.language}}">
        </div>
        <div class="mb-3">
            <label for="bookPrinter" class="form-label {% if 'bookPrinter'
            in erreurs%}is-invalid{% endif %}">Imprimeur du livre</label>
            <select name="bookPrinter" id="bookPrinter">
                {% for imprimeur in imprimeurs %}
                    <option value="{{imprimeur.printer_id}}"
                            {% if imprimeur.printer_id == livre.id_printer %}selected{% endif %}>
                        {{imprimeur.printer_name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="bookInstitution" class="form-label {% if 'bookInstitution'
            in erreurs%}is-invalid{% endif %}">Institution de conservation du livre</label>
            <select name="bookInstitution" id="bookInstitution">
                {% for institution in institutions %}
                    <option value="{{institution.institution_id}}"
                            {% if institution.institution_id == livre.id_institution %}selected{% endif %}>
                        {{institution.institution_name}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="bookIdentifier">Identifiant du livre</label>
            <input type="text" name="bookIdentifier" class="form-control
             {% if 'bookIdentifier' in erreurs %}is-invalid{% endif %}" id="bookIdentifier" value="{{livre.identifier}}">
        </div>
        <div class="row justify-content-center">
         <button type="submit" class="btn btn-warning">Modifier</button>
    </div>
    </form>


{% endif %}

{% endblock %}

{% block basdepage %}
<p><a href="{{url_for('index')}}">Retour à l'index</a></p>
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}