{% extends "conteneur.html" %}
{% block titre %}
    | Modification de livre
{% endblock %}

{% block corps %}

{% if livre %}
    <h2>Modification du livre: {{livre.title}}</h2>
    {% if updated %}
        <div class="alert alert-success">
            <p>Félicitations, vos modifications ont bien été enregistrées !</p>
        </div>
    {% endif %}
    <form method="POST" action="{{url_for('form_modifs', book_id=livre.book_id)}}">

    </form>





{% endif %}

{% endblock %}

{% block basdepage %}
<p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}